{% extends 'base.html.twig' %}

{% block title %}Liste des événements{% endblock %}

{% block body %}

    <div class="container mt-5">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1>
                Il y a {{ events | length }}
                {% if events | length > 1 %}événements
                {% else %}événement
                {% endif %}
                actuellement.
            </h1>
            <a class="btn btn-success" href="{{ path('create_event') }}">Ajouter un énévement</a>
        </div>

        {% for event in events %}
            <div class="card mb-3 shadow-sm">
                <div class="card-body">
                    <h2 class="card-title">{{ event.title }}</h2>
                    <h4 class="card-subtitle mb-2 text-muted">Début :{{ event.start_time }}</h4>
                    <h4 class="card-subtitle mb-2 text-muted">Fin :{{ event.end_time }}</h4>
                    <p class="card-text">{{ event.description }}</p>
                    <div class="d-flex">
                        <a class="btn btn-warning me-2"
                           href="{{ path('update_event', {id: event.id}) }}">
                            Modifier
                        </a>
                        <a class="btn btn-danger" href="{{ path('delete_event', {id: event.id}) }}">
                            Supprimer
                        </a>
                    </div>
                </div>
            </div>
        {% else %}
            <p class="text-muted">Aucun événement trouvé. Cliquez sur "Ajouter un événement" pour en ajouter
                un.</p>
        {% endfor %}
    </div>

{% endblock %}
