{% extends 'base.html.twig' %}

{% block title %}Liste des animateurs{% endblock %}

{% block body %}

    <div class="container mt-5">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1>
                Il y a {{ animators | length }}
                {% if animators | length > 1 %}animateurs
                {% else %}animateur
                {% endif %}
                actuellement.
            </h1>
            <a class="btn btn-success" href="{{ path('create_animator') }}">Ajouter un animateur</a>
        </div>

        {% for animator in animators %}
            <div class="card mb-3 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">{{ animator.lastname }} {{ animator.firstname }}</h5>
                    <h4 class="card-subtitle mb-2 text-muted">{{ animator.phone }}</h4>
                    <h4 class="card-text">{{ animator.email }}</h4>
                    <div class="d-flex">
                        <a class="btn btn-warning me-2"
                           href="{{ path('update_animator', {id: animator.id}) }}">
                            Modifier
                        </a>
                        <a class="btn btn-danger" href="{{ path('delete_animator', {id: animator.id}) }}">
                            Supprimer
                        </a>
                    </div>
                </div>
            </div>
        {% else %}
            <p class="text-muted">Aucun animateur trouvé. Cliquez sur "Ajouter un animateur" pour en ajouter
                un.</p>
        {% endfor %}
    </div>

{% endblock %}
